body{
    background-image: url('images/bg-01.jpg');
}

table{
    width: 80%;
}
th {
    background-color: gray;
}
th{
    text-align: left;
}

#formElement{
    display:none;
    color: red;

}

.postedThread{
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}

h1{
    color:white;
}

.pfp {
    width:100%;
    border-radius: 40%;
}
.profilepic {
    width:100%;
    margin:1%;
    max-width:175px;
    border-radius: 20%;
}

.body{
    align-content: center;
}