body{
    background-image: url('images/bg-01.jpg');
}

table{
    width: 80%;
}
th {
    background-color: gray;
}
th{
    text-align: left;
}

#formElement{
    display:none;
    color: red;

}

.postedThread{
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}

/* Start NAVBAR CSS IN 'openthread.php' */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  html,body
  {
      scroll-behavior: smooth;
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 
  }
  
  a{ 
    color: inherit;
    text-decoration: none;
  }
  
  a:hover{ 
    color: inherit; 
    text-decoration: none;
  }
  
  .section_hidden_header{
    display:none;
  }
  
  .my-custom-navbar-1{
    background-color: #1e1f24;
  }
  
  .nav_login_item{
    align-items: center;
    margin-right: 10px;
  }
  
  @media screen and (max-width:600px) {
    .nav_login_item{
      align-items: center;
      margin-right: 10px;
      padding:10px;
    }
  }
  
  .nav_login_link{
    color:white;
    font-family:"Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .nav_login_link:hover{
    text-decoration: none;
    color:#ff9090;
    
  }
  
  .nav_login_link:active{
    color:white;
    transition: 0.05s;
  }
  
  @media screen and (max-width:600px){
  .nav_contact_btn{
    margin-bottom: 10px;
  }
  }
  
  .container_bottom_nav{
    background-color: #1e1f24;
    border-top:solid 1px #ff9090;
  }
  
  .my-custom-navbar-2{
    padding: 0;
  }
  
  .custom-btn-group{
    background-color:#1e1f24;
    height: 100%;
    width:100%;
  }
  
  @media screen and (max-width: 600px) {
    .custom-btn-group{
      background-color: #1e1f24;
    }
  }
  
  
  .btn_navbar_1{
   border-width: thin;
   background-color:#1e1f24;
   transition: 0.2s;
   font-size: 20px;
   text-align: center;
  }
  
  .btn_navbar_1:hover{
    background-color: #ff9090;
    color: black;
    border: 5px solid black;
    border-width: thin;
    
  }
  .btn{
    color:white;
  }
  
  .btn:hover{
    color:black;
  }
  
  .fa-tools{
    margin-right:5px;
  }
  
  .fa-check-square{
    margin-right: 5px;
  }
  
  .nav_search_bar{
    background-color: #262729;
  }
  
  .under_header_row{
    
    background-color: white ;
  }
  
  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://i.vimeocdn.com/video/1055329572.webp?mw=1900&mh=1069') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .company-name{
      font-size:11vw;
     
    }
  }
  
  .hero_text{
    font-size: large;
  }
  
  @media screen and (max-width: 600px) {
    .hero_text{
      padding: 10px;
    }
  }
  
  .my-custom-row-1{
    background-color:white;
  }
  
  .my-custom-col-1{
    background-color: #1e1f24;
    height: 615px;
    
  }
  
  .image-ezbuilder{
    margin-top: 5px;
  }
  
  .my-custom-ul-1{
    list-style-type: none;
    padding:0;
  
  }
  
  li label{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .my-custom-li-1{
    justify-content: center;
    align-items: center;
  }
  
  .custom-image-1{
    background-image: url(images/pc_result_1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgb(56, 2, 2);
  }
  
  .my-custom-row-2{
    background-color: #1e1f24;
    height: 1.5px;
  }
  
  .row-border-white{
    border: 1.5px solid #ff9090;
    background-color: #ff9090;
    z-index: 1;
  }
  
  .row-border-dark{
    border: 1.5px solid #424242;
    background-color: #424242;
    z-index: 1;
  }
  
  .my-custom-col-2{
    height: 30vh;
  }
  
  .my-custom-row-3{
    background-color: #1e1f24;
  }
  
  .btn-advertisement{
    color: rgb(199, 199, 199);
  }
  
  .btn-advertisement:hover, .active:hover{
    color: white;
  }
  
  .my-custom-col-3{
    transition: 0.5s;
    transform: scale(0.85);
    
  }
  
  .my-custom-col-3:hover{
    width: 400px;
    transform: scale(0.95);
  }
  
  .my-custom-row-5{
    background-color: #1e1f24;
    
  }
  
  .cpusocket_image{
    width:100%;
    height: 520px;
  }
  
  @media screen and (max-width: 600px) {
    .cpusocket_image{
      height:100%;
    }
  }
  
  .my-custom-col-4{
    align-items: center;
    text-align: center;
  }
  
  
  @media screen and (max-width: 990px) {
    .description_title{
      border-top: 2px solid white;
    }
  }
  
  @media screen and (min-width: 601px) {
    .description_title{
      color: #ff9090;
      font-family:'Roboto', sans-serif;
      font-size: 50px;
      
    }
  }
  
  @media screen and (max-width: 600px) {
    .description_title{
      color: #ff9090;
      font-family:'Roboto', sans-serif;
      font-size: 45px;
      padding-top: 50px;
    }
  }
  
  
  @media screen and (min-width: 601px) {
    .description_paragraph{
      color: white;
      font-size: 30px;
      font-family:'Roboto', sans-serif;
    }
  }
  
  @media screen and (max-width: 600px) {
    .description_paragraph {
      color: white;
      font-size: 1.3rem;
      font-family:'Roboto', sans-serif;
      padding-top: 50px;
    }
  }
  
  @media screen and (min-width: 601px) {
    .description_paragraph_2{
      color: white;
      font-size: 2rem;
      font-family:'Roboto', sans-serif;
      padding-top: 100px;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .description_paragraph_2 {
      font-size: 30px;
      color: white;
      font-size: 2rem;
      font-family:'Roboto', sans-serif;
      padding-top: 50px;
    }
  }
  
  .my-custom-row-4{
    background-color: white;
    background-color:#262729;
  }
  
  .chatbot-container{
    background-color: #262729;
    margin:auto;
  }
  
  .chatbot-column{
    background-color: #262729;
  }
  
  .site-footer
  {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }
  /* Stop NAVBAR CSS IN 'openthread.php' */
  